// ### Primary

$purple-light: hsl(260, 100%, 95%);
$purple-medium: hsl(264, 82%, 80%);
$purple-dark: hsl(263, 55%, 52%);
$body: hsl(0, 0%, 96%);
// ### Neutral
$shadow:hsl(230, 7%, 83%);
$white: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(219, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);
