@use './colors' as *;

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-color: $cyan;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-image:
        url(../../images/bg-pattern-top.svg), //top
        url(../../images/bg-pattern-bottom.svg); //bottom
    background-position: 
        bottom 16rem left -18rem, //top img
        top 22rem right -15rem; //bottom img
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attribution{
    text-align: center;
    margin-top: 1rem;
    padding: 0.1rem;
    color: $white; 
    a{
        color: $normal;
        text-decoration: none;
    }
    a:hover{
        color: $sky;
    }
}
