@media  screen and (max-width:1000px) {
    body{
        background-image:
        url(../../images/bg-pattern-top.svg), //top
        url(../../images/bg-pattern-bottom.svg); //bottom
        background-position: 
        bottom 25rem left -28rem  ,
        top 25rem right -28rem;
    };        
}

@media  screen and (max-width:700px) {
    body{
        background-image:
        url(../../images/bg-pattern-top.svg), //top
        url(../../images/bg-pattern-bottom.svg); //bottom
        background-position: 
        bottom 25rem left -38rem  ,
        top 25rem right -38rem;
    };        
}
@media  screen and (max-width:400px) {
    body{
        background-image:
        url(../../images/bg-pattern-top.svg), //top
        url(../../images/bg-pattern-bottom.svg); //bottom
        background-position: 
        bottom 18rem left -47rem  ,
        top 16rem right -46rem;
    };        
    main{
        width: 21rem ;
    }
    .image2{
        left: 6.5em;
    }
}