.box1{
    background-color: $brightOrange;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.box2{
    background-color: $cyan;
    height: auto;
}
.box3{
    background-color: $darkCyan;
    height: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}